//color base
$bck_ground : rgb(249, 249, 249);
$gray_base : rgb(155, 154, 154);
$gray : rgb(235, 235, 235);
$gray_hover : rgb(223, 223, 223);
$text_gray:  rgb(122, 122, 122);
//fb icon
$fb : rgb(24,119,242)